<ion-header>
  <ion-toolbar>
    <ion-title>
      Generated QR Code
    </ion-title>
   <!-- <a slot="end" style="po" (click)="close()"> Close </a> -->
   <!-- <div slot="end" (click)="close()"> Close </div> -->
   <ion-button slot="end" fill="clear" (click)="close()"> Close </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <qrcode [qrdata]="myAngularxQrCode" [size]="256" [level]="'M'"></qrcode>
    </ion-card-content>
  </ion-card>
</ion-content>